[build]
  command = "npm run build && cd netlify/functions && npm install"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.147.4"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
